.header-leaf{
    color: #888;
}

.header-leaf-h1{
    font-size: 30px;
}

.container{
    max-width: 700px;
    margin: 0 auto;
}

#content{
    border: 2px dotted green;
    padding: 18px;
    margin-left: 215px;
    min-height: 1000px;
    color: darkgrey;
}

#sidebar{
    float: left;
    width: 200px;
    color: #ffbdbd;
    will-change: min-height;
}

#sidebar .sidebar__inner{
    border: 2px dotted red;
    padding: 10px;
    position: relative;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}
